# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Environment variables
.env

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Android and iOS native folders (if generated)
android/
ios/